In [1]:
import pandas as pd
conditions = ["confirmed","deaths","recovered"]
df = pd.read_csv("data/time_confirmed.csv")
df
# def make_country_df(condition, country):
#     df = pd.read_csv(f"data/time_{condition}.csv")
#     df = df.loc[df["Country/Region"] == country]
#     df = df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"])
#     df = df.sum().reset_index().rename(columns={"index":"Date", 0:condition})
#     return df

# final_df = None

# for condition in conditions:
#     print(condition)
#     if final_df is None:
#         final_df = make_country_df(condition, "Korea, South")
#     else:
#         country_df = make_country_df(condition, "Korea, South")
#         final_df = final_df.merge(country_df)

# final_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/20/21,2/21/21,2/22/21,2/23/21,2/24/21,2/25/21,2/26/21,2/27/21,2/28/21,3/1/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,55580,55604,55617,55646,55664,55680,55696,55707,55714,55733
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,99062,100246,101285,102306,103327,104313,105229,106215,107167,107931
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,111764,111917,112094,112279,112461,112622,112805,112960,113092,113255
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,10672,10699,10712,10739,10775,10799,10822,10849,10866,10889
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,20499,20519,20548,20584,20640,20695,20759,20782,20807,20854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,2368,2383,2392,2403,2412,2421,2426,2432,2448,2448
270,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,172315,173635,174969,176377,177768,179293,180848,181909,183612,185336
271,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,2157,2165,2176,2187,2221,2255,2267,2269,2285,2310
272,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,73894,74503,75027,75582,76484,77171,77639,78202,78534,79002
273,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,35768,35796,35862,35910,35960,35994,36044,36058,36089,36115