In [1]:
import pandas as pd
conditions = ["confirmed","deaths","recovered"]
def make_country_df(condition, country):
    df = pd.read_csv(f"data/time_{condition}.csv")
    df = df.loc[df["Country/Region"] == country]
    df = df.drop(columns=["Province/State", "Country/Region", "Lat", "Long"])
    df = df.sum().reset_index().rename(columns={"index":"Date", 0:condition})
    return df

final_df = None

for condition in conditions:
    print(condition)
    if final_df is None:
        final_df = make_country_df(condition, "Korea, South")
    else:
        country_df = make_country_df(condition, "Korea, South")
        final_df = final_df.merge(country_df)

final_df

confirmed
deaths
recovered

        Date  confirmed  deaths  recovered
0    1/22/20          1       0          0
1    1/23/20          1       0          0
2    1/24/20          2       0          0
3    1/25/20          2       0          0
4    1/26/20          3       0          0
..       ...        ...     ...        ...
400  2/25/21      88922    1585      79880
401  2/26/21      89321    1595      80333
402  2/27/21      89676    1603      80697
403  2/28/21      90031    1605      81070
404   3/1/21      90372    1606      81338

[405 rows x 4 columns]