In [42]:
import pandas as pd

In [59]:
df = pd.read_csv("data/daily_report.csv")
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2021-03-02 05:23:30,33.93911,67.709953,55733,2444,49344,3945.0,Afghanistan,143.168187,4.385194
1,NaN,NaN,NaN,Albania,2021-03-02 05:23:30,41.15330,20.168300,107931,1816,70413,35702.0,Albania,3750.469108,1.682556
2,NaN,NaN,NaN,Algeria,2021-03-02 05:23:30,28.03390,1.659600,113255,2987,78234,32034.0,Algeria,258.272078,2.637411
3,NaN,NaN,NaN,Andorra,2021-03-02 05:23:30,42.50630,1.521800,10889,110,10475,304.0,Andorra,14093.056364,1.010194
4,NaN,NaN,NaN,Angola,2021-03-02 05:23:30,-11.20270,17.873900,20854,508,19400,946.0,Angola,63.451074,2.435984

In [44]:
# > 데이터 프레임으로 부터 원하는 컬럼을 뽑아낼때, [[]]처럼 이중 리스트안에 처리하면, 데이터 형식이 데이터프레임 그대로 나오게 된다.
# 반대로 리스트한쌍만으로 감싸면, 데이터 형식은 시리즈가 된다.

country = df[["Country_Region"]]
data = df[["Confirmed","Deaths","Recovered"]]

#total = country.merge(data)
total = pd.concat([country, data], axis=1)
total

          Country_Region  Confirmed  Deaths  Recovered
0            Afghanistan      55733    2444      49344
1                Albania     107931    1816      70413
2                Algeria     113255    2987      78234
3                Andorra      10889     110      10475
4                 Angola      20854     508      19400
...                  ...        ...     ...        ...
3976             Vietnam       2448      35       1876
3977  West Bank and Gaza     185336    2058     167744
3978               Yemen       2310     634       1435
3979              Zambia      79002    1098      75087
3980            Zimbabwe      36115    1468      32905

[3981 rows x 4 columns]

In [51]:
df[df["Country_Region"] == "Vietnam"]

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
3976,NaN,NaN,NaN,Vietnam,2021-03-02 05:23:30,14.058324,108.277199,2448,35,1876,537.0,Vietnam,2.514933,1.429739

In [76]:
df.loc[df["Confirmed"] > 100000]
by_sort = df[df["Deaths"] > 10000]
by_sort.sort_values(by=["Deaths"], ascending=False)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
3961,NaN,NaN,England,United Kingdom,2021-03-02 05:23:30,52.355500,-1.174300,3663090,108422,0,3554668.0,"England, United Kingdom",6543.896444,2.959851
216,NaN,NaN,NaN,France,2021-03-02 05:23:30,46.227600,2.213700,3736390,86347,231815,3418228.0,France,5724.205555,2.310974
287,NaN,NaN,NaN,Iran,2021-03-02 05:23:30,32.427908,53.688046,1639679,60181,1399934,179564.0,Iran,1952.162582,3.670292
65,NaN,NaN,Sao Paulo,Brazil,2021-03-02 05:23:30,-23.550500,-46.633300,2044699,59546,1830423,154730.0,"Sao Paulo, Brazil",4452.833943,2.912213
269,NaN,NaN,Maharashtra,India,2021-03-02 05:23:30,19.449759,76.108221,2155070,52154,2024704,78212.0,"Maharashtra, India",1750.037434,2.420061
6,NaN,NaN,NaN,Argentina,2021-03-02 05:23:30,-38.416100,-63.616700,2112023,52077,1911338,148608.0,Argentina,4673.053856,2.465740
595,NaN,NaN,NaN,South Africa,2021-03-02 05:23:30,-30.559500,22.937500,1513959,50077,1431336,32546.0,South Africa,2552.676513,3.307685
491,NaN,NaN,NaN,Poland,2021-03-02 05:23:30,51.919400,19.145100,1711772,43793,1430861,237118.0,Poland,4522.920880,2.558343
286,NaN,NaN,NaN,Indonesia,2021-03-02 05:23:30,-0.789300,113.921300,1341314,36325,1151915,153074.0,Indonesia,490.383242,2.708165
61,NaN,NaN,Rio de Janeiro,Brazil,2021-03-02 05:23:30,-22.906800,-43.172900,583795,33093,546695,4007.0,"Rio de Janeiro, Brazil",3381.389675,5.668599
402,NaN,NaN,Mexico,Mexico,2021-03-02 05:23:30,19.496900,-99.723300,217109,28788,0,188321.0,"Mexico, Mexico",1245.763232,13.259699
651,NaN,NaN,NaN,Turkey,2021-03-02 05:23:30,38.963700,35.243300,2711479,28638,2578181,104660.0,Turkey,3214.973910,1.056176
299,NaN,NaN,Lombardia,Italy,2021-03-02 05:23:30,45.466794,9.190347,605216,28403,511811,65002.0,"Lombardia, Italy",6015.720375,4.693035
394,NaN,NaN,Ciudad de Mexico,Mexico,2021-03-02 05:23:30,19.432600,-99.133200,556885,27427,0,529458.0,"Ciudad de Mexico, Mexico",6174.818945,4.925074
32,NaN,NaN,Unknown,Belgium,2021-03-02 05:23:30,NaN,NaN,14234,22106,0,-7872.0,"Unknown, Belgium",NaN,155.304201
861,6037.0,Los Angeles,California,US,2021-03-02 05:23:30,34.308284,-118.228241,1192895,21467,0,1171428.0,"Los Angeles, California, US",11882.481181,1.799572
187,NaN,NaN,NaN,Czechia,2021-03-02 05:23:30,49.817500,15.473000,1240051,20469,1070622,148960.0,Czechia,11579.541361,1.650658
494,NaN,NaN,NaN,Romania,2021-03-02 05:23:30,45.943200,24.966800,804090,20403,741471,42216.0,Romania,4179.765525,2.537403
478,NaN,NaN,Lima,Peru,2021-03-02 05:23:30,-11.766533,-76.604498,606712,20154,0,586558.0,"Lima, Peru",5708.350191,3.321840
53,NaN,NaN,Minas Gerais,Brazil,2021-03-02 05:23:30,-18.512200,-44.555000,883105,18598,803665,60842.0,"Minas Gerais, Brazil",4171.730922,2.105978
492,NaN,NaN,NaN,Portugal,2021-03-02 05:23:30,39.399900,-8.224500,804956,16351,720235,68370.0,Portugal,7894.274102,2.031291
195,NaN,NaN,NaN,Ecuador,2021-03-02 05:23:30,-1.831200,-78.183400,286367,15832,247898,22637.0,Ecuador,1623.114131,5.528570
537,NaN,NaN,Moscow,Russia,2021-03-02 05:23:30,55.750446,37.617494,980573,15097,899239,66237.0,"Moscow, Russia",7840.526998,1.539610
247,NaN,NaN,NaN,Hungary,2021-03-02 05:23:30,47.162500,19.503300,432925,15058,322956,94911.0,Hungary,4481.462887,3.478201
611,NaN,NaN,Madrid,Spain,2021-03-02 05:23:30,40.416800,-3.703800,586913,13874,40736,532303.0,"Madrid, Spain",8836.856630,2.363894
152,NaN,NaN,Capital District,Colombia,2021-03-02 05:23:30,4.711000,-74.072100,658698,13869,631750,13079.0,"Capital District, Colombia",8886.234537,2.105517
288,NaN,NaN,NaN,Iraq,2021-03-02 05:23:30,33.223191,43.679291,699088,13428,639639,46021.0,Iraq,1738.051956,1.920788
229,NaN,NaN,Nordrhein-Westfalen,Germany,2021-03-02 05:23:30,51.433200,7.661600,533871,13141,493315,27415.0,"Nordrhein-Westfalen, Germany",2977.089110,2.461456
279,NaN,NaN,Tamil Nadu,India,2021-03-02 05:23:30,11.006091,78.400624,851542,12496,835024,4022.0,"Tamil Nadu, India",1093.946737,1.467456
60,NaN,NaN,Rio Grande do Sul,Brazil,2021-03-02 05:23:30,-30.034600,-51.217700,643672,12470,601501,29701.0,"Rio Grande do Sul, Brazil",5657.541342,1.937322
221,NaN,NaN,Bayern,Germany,2021-03-02 05:23:30,48.790400,11.497900,438074,12431,406841,18802.0,"Bayern, Germany",3350.029415,2.837648
264,NaN,NaN,Karnataka,India,2021-03-02 05:23:30,14.705180,76.166436,951251,12331,933097,5823.0,"Karnataka, India",1407.953201,1.296293
490,NaN,NaN,NaN,Philippines,2021-03-02 05:23:30,12.879721,121.774017,578381,12322,534351,31708.0,Philippines,527.810981,2.130430
105,NaN,NaN,Metropolitana,Chile,2021-03-02 05:23:30,-33.437600,-70.650500,366339,12016,348023,6300.0,"Metropolitana, Chile",5150.413170,3.280022
45,NaN,NaN,Bahia,Brazil,2021-03-02 05:23:30,-12.579700,-41.700700,686057,11914,654292,19851.0,"Bahia, Brazil",4612.748254,1.736590
56,NaN,NaN,Parana,Brazil,2021-03-02 05:23:30,-25.252100,-52.021500,650236,11686,467768,170782.0,"Parana, Brazil",5686.885126,1.797194
38,NaN,NaN,NaN,Bolivia,2021-03-02 05:23:30,-16.290200,-63.588700,249767,11666,193652,44449.0,Bolivia,2139.693134,4.670753
46,NaN,NaN,Ceara,Brazil,2021-03-02 05:23:30,-5.498400,-39.320600,427148,11293,315001,100854.0,"Ceara, Brazil",4677.445812,2.643814
554,NaN,NaN,Saint Petersburg,Russia,2021-03-02 05:23:30,59.960674,30.158655,368120,11112,300257,56751.0,"Saint Petersburg, Russia",6878.259919,3.018581
57,NaN,NaN,Pernambuco,Brazil,2021-03-02 05:23:30,-8.813700,-36.954100,300104,11007,257881,31216.0,"Pernambuco, Brazil",3140.125254,3.667729
44,NaN,NaN,Amazonas,Brazil,2021-03-02 05:23:30,-3.416800,-65.856100,316668,10938,269142,36588.0,"Amazonas, Brazil",7640.501598,3.454091
257,NaN,NaN,Delhi,India,2021-03-02 05:23:30,28.646519,77.108980,639289,10910,627044,1335.0,"Delhi, India",3416.662204,1.706583
196,NaN,NaN,NaN,Egypt,2021-03-02 05:23:30,26.820553,30.802498,183010,10736,141347,30927.0,Egypt,178.835264,5.866346
606,NaN,NaN,Catalonia,Spain,2021-03-02 05:23:30,41.591200,1.520900,582073,10730,26203,545140.0,"Catalonia, Spain",7692.834310,1.843411
295,NaN,NaN,Emilia-Romagna,Italy,2021-03-02 05:23:30,44.494367,11.341721,263194,10566,208350,44278.0,"Emilia-Romagna, Italy",5901.902846,4.014529
401,NaN,NaN,Jalisco,Mexico,2021-03-02 05:23:30,20.659500,-103.349400,78194,10536,0,67658.0,"Jalisco, Mexico",929.808020,13.474180
88,NaN,NaN,Quebec,Canada,2021-03-02 05:23:30,52.939900,-73.549100,288353,10399,270364,7590.0,"Quebec, Canada",3377.418721,3.606344
69,NaN,NaN,NaN,Bulgaria,2021-03-02 05:23:30,42.733900,25.485800,249626,10308,206630,32688.0,Bulgaria,3592.544807,4.129378
285,NaN,NaN,West Bengal,India,2021-03-02 05:23:30,23.814082,87.979803,575118,10268,561543,3307.0,"West Bengal, India",577.373782,1.785373